{{kint(context)}}
<div class="col-sm-7 col-sm-offset-5">
{% if items or empty %}
  {%- if title is not empty -%}
    <h3>{{ title }}</h3>
  {%- endif -%}

  {%- if items -%}
      {%- for item in items -%}
        <li{{ item.attributes }} class="questions-item">
          <p class="question-author-container"><span class="questions-item-author">{{item.username}}</span></p>
          <h4 class="questions-item-title">{{ item.value }}</h4>
          <p class="questions-item-content">{{ item.content }}</p>
          {%- if item.updated is not null -%}
            <span class="questions-item-date">Post updated on: {{item.updated}}</span>
          {%- else -%}
            <span class="questions-item-date">Post created on: {{item.created}}</span>
          {%- endif -%}
          
          <div>

            <h5>{{item.cat1title}}</h5>
            <h5>{{item.cat2title}}</h5>
            <h5>{{item.cat3title}}</h5>
          </div>

        </li>
      {%- endfor -%}
  {%- else -%}
    {{- empty -}}
  {%- endif -%}
{%- endif %}
</div>